.svn
.libs
.deps
.dirstamp
*-config
*.dox
*.o
*.la
*.lo
*.pc
ImageMagick.spec
Makefile
_configs.sed
autom4te.cache
common.shi
config.log
config.status
config/ImageMagick.rdf
config/config.h
config/configure.xml
config/delegates.xml
config/stamp-h1
config/type-dejavu.xml
config/type-ghostscript.xml
config/type-windows.xml
config/type.xml
libtool
local.exp
magick.sh
utilities/animate
utilities/compare
utilities/composite
utilities/conjure
utilities/convert
utilities/display
utilities/identify
utilities/import
utilities/mogrify
utilities/montage
utilities/stream
